* {
	padding: 0;
	margin: 0;
	font-family: "Roboto", sans-serif;
	font-size: xx-large;
	font-weight: 500;
}
html,
body {
	width: 100vw;
	height: 100vh;
}

:root {
	--calc_background: #000000;
	--calc_text: #f5f5f6;
	--operators: hsl(34, 79%, 57%);
	--nums: hsl(0, 0%, 19%);
	--nums_hover: hsl(0, 0%, 30%);
	--operators_hover: hsl(34, 79%, 68%);
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	background-color: var(--calc_background);
	width: 25%;
	height: 75%;
	border-radius: 25px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	box-shadow: 0px 0px 4px var(--calc_background);
}
.buttons {
	width: 100%;
	height: 60%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: row;
}

.nums {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	gap: 0.5rem;
	width: 65%;
	height: 100%;
}
.num {
	cursor: pointer;
	background-color: var(--nums);
	border-radius: 12px;
	width: 80px;
	height: 80px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--calc_text);
}
.num:hover {
	background-color: var(--nums_hover);
}
#clear {
	cursor: pointer;
	background-color: var(--nums);
	border-radius: 12px;
	width: 80px;
	height: 80px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--calc_text);
}
#clear:hover {
	background-color: var(--nums_hover);
}

.operators {
	width: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 94%;
	gap: 1rem;
}
.operator {
	background-color: var(--operators);
}
.num.operator:hover {
	background-color: var(--operators_hover);
}

.display {
	text-align: right;
	color: var(--calc_text);
	height: 5%;
	width: 100%;
}
.display p {
	width: 95%;
	font-size: 2.2rem;
}
